* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {

    margin: 0px 10% 0px 10%;
    overflow: hidden;
}

.menu-icon {
    right: 0;
    float: right;
    cursor: pointer;
    position: relative;
    margin-top: 5%;
}

.navbar-brand {
    margin-top: 4%;
    position: absolute;
    width: 10%;

}

.line-1,
.line-2,
.line-3 {
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

.menu-icon:hover .line3 {
    margin-top: 9px;

}

.menu-icon:hover .line-1 {
    margin-bottom: 7px;
}

.slider {
    overflow: hidden;
    margin: 3% 10% 0 10%;
    width: 80%;
    position: relative;
}

.caraousel-images img {
    height: 100%;
    width: 100%;
}

.caraousel-images {
    animation: imganimate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
    position: relative;
}

@keyframes imganimate {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.caraousel-text {
    position: absolute;
    z-index: 5;
    top:
}

.caraousel-moving-text {
    position: absolute;
    z-index: 5;
}

.container-1 {
    display: block;
    margin: 10% 10% 10% 10%;
    height: 100%;
    position: relative;
    height: 100%;
    justify-content: space-around;
}

.history-heading {
    display: flex;
    grid-area: header;
    font-size: 12px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    max-width: 50%;
    padding-top: 5%;

}

.underline{
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.history-description {
    display: flex;
    margin-top: 6%;
    font-weight: 600;
    grid-area: menu;
    max-width: 50%;
    line-height: 2rem;
}

.history-content {
    display: flex;
    margin-top: 6%;
    grid-area: menu;
    max-width: 50%;
    line-height: 2rem;
}

.sliding-images {
    top: 0;
    right: 0;
    float: right;
    position: absolute;
}

.container-2{
    display: block;
    margin: 10% 10% 10% 10%;
    height: 100%;
    position: relative;
    height: 100%;
    justify-content: space-around;
}

.choose-heading{
    display: flex;
    font-size: 12px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    max-width: 50%;
    padding-top: 5%;
}

.choose-content{
    display: flex;
    margin-top: 2%;
    grid-area: menu;
    max-width: 50%;
    line-height: 2rem;
    font-weight: 600;
}

.container-3{
    display: inline-flex;
    margin: 0% 10% 10% 10%;
    height: 200%;
    position: relative;
    height: 100%;
    justify-content: space-around;
}

.col-1{
    margin-right: 3%;
}
.col-2{
    margin-right: 3%;
}
.col-3{
    
}

.container-3 i{
    font-size: 3rem;
    padding-bottom: 5%;
}

.container-3-headings{
    display: flex;
    grid-area: header;
    font-size: 24px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding-top: 5%;
}

.container-3-content{
    padding-top: 5%;
    display: flex;
    margin-top: 2%;
    grid-area: menu;    
    line-height: 2rem;
}

.container-4{
    display: block;
    margin: 0 10% 0% 10%;
    height: 200%;
    position: relative;
    height: 100%;
    justify-content: space-around;
}

.container-4-heading{
    display: flex;
    font-size: 12px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    max-width: 50%;
    padding-top: 5%;
}

.container-4-content{
    display: flex;
    margin-top: 2%;
    grid-area: menu;
    max-width: 50%;
    line-height: 2rem;
}

.menu-icon-2{
    display: block;
    background-color: aquamarine;
    margin: 3% 0% 3% 10%;
    padding: 1%;
    width: 35px;
    cursor: pointer;
}


.line-4,
.line-5,
.line-6 {
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

.container-5{
    margin: 0 10% 0% 10%;
    display: inline-block
}

.image-grid{
    display: grid;
}

.container-5 img{
    margin: 1% 2% 1% 0;
}

.container-5 img:hover{
    
}